doctype html
html(lang='en' ,ng-app='globalmouth-app')
  head
    title='durand'
    link(rel='stylesheet',href='./libs/angular/angular-material/angular-material.css')
    link(rel='stylesheet',href='./css/styles.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons',rel='stylesheet')
  body
    main(ui-view) 
    script(type='text/javascript' , src='./libs/angular/angular/angular.js')
    script(type='text/javascript' , src='./libs/angular/angular-ui-router/angular-ui-router.min.js')
    script(type='text/javascript' , src='./libs/angular/angular-aria/angular-aria.js')
    script(type='text/javascript' , src='./libs/angular/angular-animate/angular-animate.js')
    script(type='text/javascript' , src='./libs/angular/angular-material/angular-material.js')
    script(type='text/javascript' , src='./bin/index.js')