md-card
  img(ng-src="./assets/rewards.png", class="md-card-image", alt="Washed Out")
  md-card-title
    md-card-title-text
      span.md-headline You hit {{points/100}} times and you won {{points}} Points
  md-card-actions(layout="row", layout-align="end center")
    md-button(ng-click='hideModalRewards()') Get